<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.sjony.dao.SkuQtyDao">

    <resultMap  type="com.sjony.entity.SkuQtyEntity" id="skuQtyEntity">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="sku_code" property="skuCode" jdbcType="VARCHAR"/>
        <result column="sku_qty" property="skuQty" jdbcType="NUMERIC"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
    </resultMap>


    <insert id="insertSkuQty" parameterType="com.sjony.entity.SkuQtyEntity" useGeneratedKeys="true" keyProperty="entity.id">
      INSERT INTO t_sku_qty(
      <if test="entity.skuCode != null" >
          sku_code,
      </if>
      sku_qty,create_time,update_time,create_user,update_user
      ) VALUES (
        <if test="entity.skuCode != null" >
            #{entity.skuCode},
        </if>
      #{entity.skuQty},#{entity.createTime},#{entity.updateTime},#{entity.createUser},#{entity.updateUser}
      )
    </insert>

    <update id="updateSkuQty" parameterType="java.util.List">
        <foreach collection="skuQtyList" item="item" index="index" open="" close="" separator=";">
        UPDATE t_sku_qty SET
        <trim suffix="" suffixOverrides=",">
        <if test="item.skuCode != null">
            sku_code = #{item.skuCode},
        </if>
        <if test="item.skuQty != null">
            sku_qty = #{item.skuQty},
        </if>
        <if test="item.createTime != null">
            create_time = #{item.createTime},
        </if>
        <if test="item.updateTime != null">
            update_time = #{item.updateTime},
        </if>
        <if test="item.createUser != null">
            create_user = #{item.createUser},
        </if>
        <if test="item.updateUser != null">
            update_user = #{item.updateUser},
        </if>
        </trim>
        WHERE
        <if test="item.id != null">
            id = #{item.id}
        </if>
        </foreach>
    </update>
    
    <update id="updateQtyForSale" parameterType="java.lang.String">
        update t_sku_qty SET
          sku_qty = sku_qty-1,
          update_time = NOW()
        WHERE sku_code = #{skuCode}
        and sku_qty > 0
    </update>

    <update id="updateQty" parameterType="java.util.List" >
        <foreach collection="list" item="item" index="index" open="" separator=";" close="">
            UPDATE t_sku_qty
            <set>
                update_time = NOW()
                <if test="item.skuQty != null">
                    ,sku_qty = sku_qty - #{item.skuQty}
                </if>
            </set>
            WHERE sku_code = #{item.sku_code, jdbcType=VARCHAR}
        </foreach>
    </update>

    <select id="selectSkuQtyBySkuCode" parameterType="java.util.List"  resultType="java.util.List" resultMap="skuQtyEntity" >
        SELECT id,sku_code,sku_qty,create_time,update_time,create_user,update_user
        FROM t_sku_qty
        WHERE sku_code IN
        <foreach collection="skuList" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>